.segment-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    background-color: rgb(11, 162, 162); 
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .save-button {
    background-color: grey; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  